# **Career Counseling Chatbot**
Date: 2023-08-09

Author: Hsiao-Wei(Vivian) Liu, Srivastav Budugutta, Suthawan Ma, Yosue Canaviri, Youngmok Byon

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

# STEP 1: Setup and import libraries

In [ ]:
!pip install -U "psycopg[binary]"

!pip install langchain
!pip install psycopg
!pip install flask_ngrok

import json
import random
from langchain.agents import load_tools
from langchain.agents import initialize_agent
from langchain.agents import AgentType
from langchain.llms import OpenAI
import os
from langchain.agents import *
from flask_ngrok import run_with_ngrok
from langchain.llms import OpenAI
from langchain.sql_database import SQLDatabase
import psycopg, os
from langchain.chat_models import ChatOpenAI
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.agents import load_tools
from langchain.agents import initialize_agent
from langchain.agents import AgentType
from langchain.llms import OpenAI
import os
from langchain.agents import *
from langchain.llms import OpenAI
from langchain.sql_database import SQLDatabase
import psycopg, os
from langchain.chat_models import ChatOpenAI
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
import psycopg2
from langchain.sql_database import SQLDatabase
from langchain.chat_models import ChatOpenAI
import json
import random
from langchain.agents import load_tools
from langchain.agents import initialize_agent
from langchain.agents import AgentType
from langchain.llms import OpenAI
import os
from langchain.agents import *
from langchain.llms import OpenAI
from langchain.sql_database import SQLDatabase
import psycopg, os
from langchain.chat_models import ChatOpenAI
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.agents import load_tools
from langchain.agents import initialize_agent
from langchain.agents import AgentType
from langchain.llms import OpenAI
import os
import pandas as pd
from google.colab import drive
from langchain.agents import *
from langchain.llms import OpenAI
from langchain.sql_database import SQLDatabase
import psycopg, os
from langchain.chat_models import ChatOpenAI
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
import psycopg2
from langchain.sql_database import SQLDatabase
from langchain.chat_models import ChatOpenAI
from sqlalchemy import create_engine
from flask import Flask, render_template, request
from google.colab import drive
import psycopg, os
import requests
from IPython.display import display
from ipywidgets import Output
output_widget = Output()
import logging
!pip install localhost-on-colab

display(output_widget)
from flask import Response
import requests
!pip install openai
import openai
!pip install pyngrok==4.1.1
!pip install flask_ngrok
!ngrok authtoken 2QHpMjPCJTcuYmSoZmvjozPyhZt_4Nqr37wLxbkyw2C5QpzGa
from localhost_on_colab.core import LocalHostOnColab
from google.colab import drive

Collecting psycopg[binary]
  Downloading psycopg-3.1.10-py3-none-any.whl (168 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 168.9/168.9 kB 2.9 MB/s eta 0:00:00
Requirement already satisfied: typing-extensions>=4.1 in /usr/local/lib/python3.10/dist-packages (from psycopg[binary]) (4.7.1)
Collecting psycopg-binary==3.1.10 (from psycopg[binary])
  Downloading psycopg_binary-3.1.10-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.3/3.3 MB 44.4 MB/s eta 0:00:00
Installing collected packages: psycopg-binary, psycopg
Successfully installed psycopg-3.1.10 psycopg-binary-3.1.10
Collecting langchain
  Downloading langchain-0.0.256-py3-none-any.whl (1.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 9.9 MB/s eta 0:00:00
Requirement already satisfied: PyYAML>=5.3 in /usr/local/lib/python3.10/dist-packages (from langchain) (6.0.1)
Requirement already satisfied: SQLAlchemy<3,>=1.4 in /usr/local/lib/python3.10/dist-packages (from langchain) (2.0.19)
Requirement already satisfied: aiohttp<4.0.0,>=3.8.3 in /usr/local/lib/python3.10/dist-packages (from langchain) (3.8.5)
Requirement already satisfied: async-timeout<5.0.0,>=4.0.0 in /usr/local/lib/python3.10/dist-packages (from langchain) (4.0.2)
Collecting dataclasses-json<0.6.0,>=0.5.7 (from langchain)
  Downloading dataclasses_json-0.5.14-py3-none-any.whl (26 kB)
Collecting langsmith<0.1.0,>=0.0.11 (from langchain)
  Downloading langsmith-0.0.19-py3-none-any.whl (31 kB)
Requirement already satisfied: numexpr<3.0.0,>=2.8.4 in /usr/local/lib/python3.10/dist-packages (from langchain) (2.8.4)
Requirement already satisfied: numpy<2,>=1 in /usr/local/lib/python3.10/dist-packages (from langchain) (1.22.4)
Collecting openapi-schema-pydantic<2.0,>=1.2 (from langchain)
  Downloading openapi_schema_pydantic-1.2.4-py3-none-any.whl (90 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 90.0/90.0 kB 8.2 MB/s eta 0:00:00
Requirement already satisfied: pydantic<2,>=1 in /usr/local/lib/python3.10/dist-packages (from langchain) (1.10.12)
Requirement already satisfied: requests<3,>=2 in /usr/local/lib/python3.10/dist-packages (from langchain) (2.27.1)
Requirement already satisfied: tenacity<9.0.0,>=8.1.0 in /usr/local/lib/python3.10/dist-packages (from langchain) (8.2.2)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (23.1.0)
Requirement already satisfied: charset-normalizer<4.0,>=2.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (2.0.12)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (6.0.4)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (1.9.2)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (1.4.0)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (1.3.1)
Collecting marshmallow<4.0.0,>=3.18.0 (from dataclasses-json<0.6.0,>=0.5.7->langchain)
  Downloading marshmallow-3.20.1-py3-none-any.whl (49 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.4/49.4 kB 4.0 MB/s eta 0:00:00
Collecting typing-inspect<1,>=0.4.0 (from dataclasses-json<0.6.0,>=0.5.7->langchain)
  Downloading typing_inspect-0.9.0-py3-none-any.whl (8.8 kB)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from pydantic<2,>=1->langchain) (4.7.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2->langchain) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2->langchain) (2023.7.22)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2->langchain) (3.4)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy<3,>=1.4->langchain) (2.0.2)
Requirement already satisfied: packaging>=17.0 in /usr/local/lib/python3.10/dist-packages (from marshmallow<4.0.0,>=3.18.0->dataclasses-json<0.6.0,>=0.5.7->langchain) (23.1)
Collecting mypy-extensions>=0.3.0 (from typing-inspect<1,>=0.4.0->dataclasses-json<0.6.0,>=0.5.7->langchain)
  Downloading mypy_extensions-1.0.0-py3-none-any.whl (4.7 kB)
Installing collected packages: mypy-extensions, marshmallow, typing-inspect, openapi-schema-pydantic, langsmith, dataclasses-json, langchain
Successfully installed dataclasses-json-0.5.14 langchain-0.0.256 langsmith-0.0.19 marshmallow-3.20.1 mypy-extensions-1.0.0 openapi-schema-pydantic-1.2.4 typing-inspect-0.9.0
Requirement already satisfied: psycopg in /usr/local/lib/python3.10/dist-packages (3.1.10)
Requirement already satisfied: typing-extensions>=4.1 in /usr/local/lib/python3.10/dist-packages (from psycopg) (4.7.1)
Collecting flask_ngrok
  Downloading flask_ngrok-0.0.25-py3-none-any.whl (3.1 kB)
Requirement already satisfied: Flask>=0.8 in /usr/local/lib/python3.10/dist-packages (from flask_ngrok) (2.2.5)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from flask_ngrok) (2.27.1)
Requirement already satisfied: Werkzeug>=2.2.2 in /usr/local/lib/python3.10/dist-packages (from Flask>=0.8->flask_ngrok) (2.3.6)
Requirement already satisfied: Jinja2>=3.0 in /usr/local/lib/python3.10/dist-packages (from Flask>=0.8->flask_ngrok) (3.1.2)
Requirement already satisfied: itsdangerous>=2.0 in /usr/local/lib/python3.10/dist-packages (from Flask>=0.8->flask_ngrok) (2.1.2)
Requirement already satisfied: click>=8.0 in /usr/local/lib/python3.10/dist-packages (from Flask>=0.8->flask_ngrok) (8.1.6)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->flask_ngrok) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->flask_ngrok) (2023.7.22)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->flask_ngrok) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->flask_ngrok) (3.4)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from Jinja2>=3.0->Flask>=0.8->flask_ngrok) (2.1.3)
Installing collected packages: flask_ngrok
Successfully installed flask_ngrok-0.0.25
Collecting localhost-on-colab
  Downloading localhost_on_colab-0.0.0-py3-none-any.whl (2.9 kB)
Collecting pyngrok>=5.0.5 (from localhost-on-colab)
  Downloading pyngrok-6.0.0.tar.gz (681 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 681.2/681.2 kB 7.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: PyYAML>=5.4.1 in /usr/local/lib/python3.10/dist-packages (from localhost-on-colab) (6.0.1)
Building wheels for collected packages: pyngrok
  Building wheel for pyngrok (setup.py) ... done
  Created wheel for pyngrok: filename=pyngrok-6.0.0-py3-none-any.whl size=19866 sha256=24f1cf097dd19f9f757e7e3a530faf0c647135532e239ba2b1e0827488b616ba
  Stored in directory: /root/.cache/pip/wheels/5c/42/78/0c3d438d7f5730451a25f7ac6cbf4391759d22a67576ed7c2c
Successfully built pyngrok
Installing collected packages: pyngrok, localhost-on-colab
Successfully installed localhost-on-colab-0.0.0 pyngrok-6.0.0

Output()

Collecting openai
  Downloading openai-0.27.8-py3-none-any.whl (73 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 73.6/73.6 kB 1.7 MB/s eta 0:00:00
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.10/dist-packages (from openai) (2.27.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from openai) (4.65.0)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.10/dist-packages (from openai) (3.8.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (2023.7.22)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (3.4)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (23.1.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (6.0.4)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (4.0.2)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (1.9.2)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (1.4.0)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (1.3.1)
Installing collected packages: openai
Successfully installed openai-0.27.8
Collecting pyngrok==4.1.1
  Downloading pyngrok-4.1.1.tar.gz (18 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: future in /usr/local/lib/python3.10/dist-packages (from pyngrok==4.1.1) (0.18.3)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.10/dist-packages (from pyngrok==4.1.1) (6.0.1)
Building wheels for collected packages: pyngrok
  Building wheel for pyngrok (setup.py) ... done
  Created wheel for pyngrok: filename=pyngrok-4.1.1-py3-none-any.whl size=15963 sha256=0cad53470ad487428e8cb1d8e0d6f312fcd14813068700af516cf0a67e2ae904
  Stored in directory: /root/.cache/pip/wheels/4c/7c/4c/632fba2ea8e88d8890102eb07bc922e1ca8fa14db5902c91a8
Successfully built pyngrok
Installing collected packages: pyngrok
  Attempting uninstall: pyngrok
    Found existing installation: pyngrok 6.0.0
    Uninstalling pyngrok-6.0.0:
      Successfully uninstalled pyngrok-6.0.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
localhost-on-colab 0.0.0 requires pyngrok>=5.0.5, but you have pyngrok 4.1.1 which is incompatible.
Successfully installed pyngrok-4.1.1
Requirement already satisfied: flask_ngrok in /usr/local/lib/python3.10/dist-packages (0.0.25)
Requirement already satisfied: Flask>=0.8 in /usr/local/lib/python3.10/dist-packages (from flask_ngrok) (2.2.5)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from flask_ngrok) (2.27.1)
Requirement already satisfied: Werkzeug>=2.2.2 in /usr/local/lib/python3.10/dist-packages (from Flask>=0.8->flask_ngrok) (2.3.6)
Requirement already satisfied: Jinja2>=3.0 in /usr/local/lib/python3.10/dist-packages (from Flask>=0.8->flask_ngrok) (3.1.2)
Requirement already satisfied: itsdangerous>=2.0 in /usr/local/lib/python3.10/dist-packages (from Flask>=0.8->flask_ngrok) (2.1.2)
Requirement already satisfied: click>=8.0 in /usr/local/lib/python3.10/dist-packages (from Flask>=0.8->flask_ngrok) (8.1.6)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->flask_ngrok) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->flask_ngrok) (2023.7.22)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->flask_ngrok) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->flask_ngrok) (3.4)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from Jinja2>=3.0->Flask>=0.8->flask_ngrok) (2.1.3)
Authtoken saved to configuration file: /root/.ngrok2/ngrok.yml

# STEP 2: Connecting to the Postgres Database

In [ ]:
print('Connecting to the PostgreSQL database...')
conn = psycopg.connect(
    host="apan5400db.cv57tdjwt2lt.us-east-1.rds.amazonaws.com",
    port='5432',
    dbname="postgres",
    user="postgres",
    password="postgres")

Connecting to the PostgreSQL database...

In [ ]:
# create a cursor
cur = conn.cursor()

In [ ]:
# execute a statement
print('PostgreSQL database version:')
cur.execute('SELECT version()')

# display the PostgreSQL database server version
db_version = cur.fetchone()
print(db_version)

PostgreSQL database version:
('PostgreSQL 15.3 on x86_64-pc-linux-gnu, compiled by gcc (GCC) 7.3.1 20180712 (Red Hat 7.3.1-12), 64-bit',)

# STEP 3: *Create* dataset tables (Design of the Data Warehouse)

In [ ]:
#in case of recreating table: run this
#cur.execute("DROP TABLE industry_category_data CASCADE")
#cur.execute("DROP TABLE nyc_job_posting CASCADE")
#cur.execute("DROP TABLE employment_data CASCADE")
#cur.execute("DROP TABLE columbia_enrollment CASCADE")

In [ ]:
#create table : industry_category_data
createCmd = """CREATE TABLE industry_category_data (
  industry_category varchar,
  industry_title varchar NOT NULL,
  industry_category_id INTEGER PRIMARY KEY
);"""

cur.execute(createCmd)
conn.commit()
print('Create industry_category_data table successfully')

Create table successfully

In [ ]:
#Create table: nyc_job_posting
createNYCJobPostingCmd = """CREATE TABLE nyc_job_posting (
  job_id integer PRIMARY KEY,
  agency varchar,
  posting_type varchar,
  number_of_positions integer,
  business_title varchar,
  civil_service_title varchar,
  title_classification varchar,
  title_code_no varchar,
  level varchar,
  job_category varchar,
  full_time_part_time_indicator varchar,
  career_level varchar,
  salary_range_from float,
  salary_range_to float,
  salary_frequency varchar,
  work_location varchar,
  division_work_unit varchar,
  job_description varchar,
  minimum_qual_requirements varchar,
  additional_information varchar,
  to_apply varchar,
  residency_requirement varchar,
  posting_date date,
  posting_updated date,
  process_date date,
  preferred_skills varchar,
  hours_shift varchar,
  work_location_1 varchar,
  post_until date,
  industry_category varchar,
  industry_title varchar,
  industry_category_id integer,
  FOREIGN KEY (industry_category_id) REFERENCES industry_category_data(industry_category_id)
);"""

cur.execute(createNYCJobPostingCmd)
conn.commit()
print('Create nyc_job_posting table successfully')

Create nyc_job_posting table successfully

In [ ]:
#create table : employment_data
createEmploymentDataCmd = """CREATE Table employment_data (
  year INTEGER,
  seriescode INTEGER,
  areaname VARCHAR,
  industry_title VARCHAR,
  month INTEGER,
  number_of_worker FLOAT,
  industry_category VARCHAR,
  industry_category_id INTEGER,
  PRIMARY KEY (year, month, seriescode),
  FOREIGN KEY (industry_category_id) references industry_category_data(industry_category_id)
) ;"""


cur.execute(createEmploymentDataCmd)
conn.commit()
print('Create employment_data table successfully')

Create employment_data table successfully

In [ ]:
#create table : columbia_enrollment
createColumbiaEnrollmentCmd = """ DROP TABLE IF EXISTS columbia_enrollment;
CREATE Table columbia_enrollment (
  program_id integer PRIMARY KEY
  , program_name varchar
  , enrollment integer
  , malestudent integer
  , percentmale varchar
  , femalestudent integer
  , percentfemale varchar
  , industry_category_id integer
  , FOREIGN KEY (industry_category_id) references industry_category_data(industry_category_id)
) ;"""


cur.execute(createColumbiaEnrollmentCmd)
conn.commit()
print('Create columbia_enrollment table successfully')

Create columbia_enrollment table successfully

# STEP 4 : Extract, Transform, and Load Data (ETL Pipeline)

Create *data* within industry_category table

In [ ]:
import pandas as pd

industry_category_data = {
    'industry_category': [
        'Technology', 'Human Resources', 'Data & Innovation', 'Finance & Accounting', 'Legal',
        'Constituent Services', 'Communications', 'Engineering', 'Architecture', 'Operations', 'Social Services',
        'Entertainment', 'Education'
    ],
        'industry_title': [
        'Management, Scientific, and Technical Consulting Services', 'Employment Services', 'Information',
        'Finance and Insurance', 'Legal Services', 'Government', 'Advertising, Public Relations, and Related Services',
        'Computer Systems Design and Related Services', 'Architectural, Engineering, and Related Services',
        'Business Support Services', 'Social Assistance', 'Arts, Entertainment, and Recreation', 'Local Government Elementary and Secondary Education'
    ],
    'industry_category_id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
}

industry_category_table = pd.DataFrame(industry_category_data)
industry_category_table

# Save the DataFrame to a CSV file named "industry_category.csv"
# industry_category_table.to_csv('industry_category.csv', index=False)

,industry_category,industry_title,industry_category_id
0,Technology,"Management, Scientific, and Technical Consulti...",1
1,Human Resources,Employment Services,2
2,Data & Innovation,Information,3
3,Finance & Accounting,Finance and Insurance,4
4,Legal,Legal Services,5
5,Constituent Services,Government,6
6,Communications,"Advertising, Public Relations, and Related Ser...",7
7,Engineering,Computer Systems Design and Related Services,8
8,Architecture,"Architectural, Engineering, and Related Services",9
9,Operations,Business Support Services,10
10,Social Services,Social Assistance,11
11,Entertainment,"Arts, Entertainment, and Recreation",12
12,Education,Local Government Elementary and Secondary Educ...,13

Extract and Transform data within nyc_job_posting table

In [ ]:
# fetch job_posting data from NYC Open Data

url = "https://data.cityofnewyork.us/resource/kpav-sd4t.json"
all_data = []
page_size = 1000
offset = 0
while True:
    params = {
        '$limit':  page_size,
        '$offset': offset
    }
    response = requests.get(url, params=params)
    data = response.json()
    if not data:
        break
    all_data.extend(data)
    offset += page_size
job_posting = pd.DataFrame(all_data)


# create the mapping dictionary
industry_category_mapping = {
    "Technology": ["Technology", "Technical", "Software", "Data Science"],
    "Human Resources": ["Human Resources", "Recruitment", "Talent Management", "Administrative"],
    "Data & Innovation": ["Data Analytics", "Innovation", "Research"],
    "Finance & Accounting": ["Finance", "Accounting", "Auditing", "Banking", "Business"],
    "Legal": ["Legal", "Lawyer", "Attorney"],
    "Constituent Services": ["Constituent", "Public Relations", "Customer Service", "Community"],
    "Communications": ["Communications", "Media", "Public Affairs", "Marketing"],
    "Engineering": ["Engineering"],
    "Architecture": ["Architecture", "Building", "Urban Planning"],
    "Operations": ["Operations", "Logistics", "Supply Chain"],
    "Social Services": ["Social Services", "Social Work", "Community Outreach", "Counseling"],
    "Education":["Education"],
    "Entertainment":["Entertainment"]
}

# create a function to map job categories to industry categories
def map_job_to_industry(job_category):
    for industry, categories in industry_category_mapping.items():
        for category in categories:
            if category.strip().lower() in job_category.strip().lower():
                return industry
    return "Unknown"  # If the job category doesn't match any industry category, return "Unknown"

# apply the mapping function to create the "industry_category" column
job_posting["industry_category"] = job_posting["job_category"].apply(map_job_to_industry)

# print the result
print(job_posting[["job_category", "industry_category"]])
sum(job_posting["industry_category"] == 'Unknown') # only 671 jobs do not fall into the 11 industry_category we created

# merge the job_posting data with industry_category_table to add industry_category_id
job_posting = job_posting.merge(industry_category_table, on = 'industry_category', how='left')

# drop the job listing with a NaN in industry_category_id
job_posting = job_posting.dropna(subset=['industry_category_id'])

# turn industry_category_id into an integer
job_posting['industry_category_id'] = job_posting['industry_category_id'].astype(int)
job_posting['post_until'] = pd.to_datetime(job_posting['post_until'])

# remove rows with duplicate 'job_id'
job_posting = job_posting.drop_duplicates(subset=['job_id'])
job_posting
# save the job_posting data into a csv file
# job_posting.to_csv('job_posting.csv', index=False)

                                           job_category     industry_category
0                                  Health Legal Affairs                 Legal
1                     Building Operations & Maintenance          Architecture
2                     Building Operations & Maintenance          Architecture
3                           Policy, Research & Analysis     Data & Innovation
4     Technology, Data & Innovation Policy, Research...            Technology
...                                                 ...                   ...
6357              Engineering, Architecture, & Planning           Engineering
6358  Constituent Services & Community Programs Buil...  Constituent Services
6359                                             Health               Unknown
6360  Administration & Human Resources Constituent S...       Human Resources
6361  Constituent Services & Community Programs Soci...  Constituent Services

[6362 rows x 2 columns]

,job_id,agency,posting_type,number_of_positions,business_title,civil_service_title,title_classification,title_code_no,level,job_category,...,posting_date,posting_updated,process_date,preferred_skills,hours_shift,work_location_1,post_until,industry_category,industry_title,industry_category_id
0,585084,DEPT OF HEALTH/MENTAL HYGIENE,Internal,1,Deputy EEO Officer (Agency Attorney),AGENCY ATTORNEY,Non-Competitive-5,30087,03,Health Legal Affairs,...,2023-07-12T00:00:00.000,2023-07-12T00:00:00.000,2023-08-01T00:00:00.000,NaN,NaN,NaN,NaT,Legal,Legal Services,5
1,577063,DEPT OF HEALTH/MENTAL HYGIENE,External,5,Institutional Aide (per diem),INSTITUTIONAL AIDE,Non-Competitive-5,81803,00,Building Operations & Maintenance,...,2023-03-10T00:00:00.000,2023-05-04T00:00:00.000,2023-08-01T00:00:00.000,NaN,NaN,NaN,NaT,Architecture,"Architectural, Engineering, and Related Services",9
2,540287,DEPT OF ENVIRONMENT PROTECTION,External,1,Machinist,MACHINIST,Competitive-1,92610,00,Building Operations & Maintenance,...,2022-07-16T00:00:00.000,2022-07-16T00:00:00.000,2023-08-01T00:00:00.000,NaN,NaN,NaN,NaT,Architecture,"Architectural, Engineering, and Related Services",9
3,573619,DEPT OF ENVIRONMENT PROTECTION,External,2,Policy Analyst,STRATEGIC INITIATIVE SPECIALIS,Non-Competitive-5,50940,00,"Policy, Research & Analysis",...,2023-02-15T00:00:00.000,2023-02-15T00:00:00.000,2023-08-01T00:00:00.000,Work experience involving the public sector is...,35 hours/week,59-17 Junction Blvd Corona Ny,NaT,Data & Innovation,Information,3
4,589409,OFF OF PAYROLL ADMINISTRATION,Internal,2,Help Desk Level 1 Representative,CLERICAL ASSOCIATE,Competitive-1,10251,02,"Technology, Data & Innovation Policy, Research...",...,2023-06-06T00:00:00.000,2023-06-21T00:00:00.000,2023-08-01T00:00:00.000,"â¢ Basic knowledge of PMS, CityTime, FMS, PIP...",35 Hours/Day Shift,5 Manhattan West,NaT,Technology,"Management, Scientific, and Technical Consulti...",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6231,585922,POLICE DEPARTMENT,Internal,1,Police Administrative Aide,POLICE ADMINISTRATIVE AIDE,Competitive-1,10144,00,Administration & Human Resources,...,2023-05-16T00:00:00.000,2023-05-16T00:00:00.000,2023-08-01T00:00:00.000,NaN,"Varies, based on the needs of the command.","2951 W 8Th St., Brooklyn",NaT,Human Resources,Employment Services,2
6329,576595,NYC HOUSING AUTHORITY,External,1,Compliance Monitor and Reporting Specialist,COMMUNITY COORDINATOR,Non-Competitive-5,56058,00,Legal Affairs,...,2023-07-18T00:00:00.000,2023-07-26T00:00:00.000,2023-08-01T00:00:00.000,1.\tProblem Solver: Exercises independent judg...,NaN,NaN,2023-08-04,Legal,Legal Services,5
6331,591238,NYC HOUSING AUTHORITY,External,1,Program Manager,DEP DIR RESEARCH & POL DEVELP,Non-Competitive-5,60931,M3,"Administration & Human Resources Engineering, ...",...,2023-07-31T00:00:00.000,2023-07-31T00:00:00.000,2023-08-01T00:00:00.000,â¢\tProfessional experience in government or ...,NaN,NaN,NaT,Human Resources,Employment Services,2
6343,588714,DEPT OF ENVIRONMENT PROTECTION,Internal,1,Design-Build Project Manager,ADM ENGINEER (NON MGRL),Competitive-1,1001A,00,Communications & Intergovernmental Affairs Eng...,...,2023-06-04T00:00:00.000,2023-07-10T00:00:00.000,2023-08-01T00:00:00.000,"1.\tFive (5) to ten (10) years of full-time, s...",NaN,NaN,NaT,Communications,"Advertising, Public Relations, and Related Ser...",7
6345,529997,DEPARTMENT OF CORRECTION,External,1,Deputy Director of Recreation,CORRECTIONAL STANDARDS REVIEW,Non-Competitive-5,52615,02,Constituent Services & Community Programs Soci...,...,2022-04-26T00:00:00.000,2023-01-04T00:00:00.000,2023-08-01T00:00:00.000,â¢\tMasterâs Degree from an accredited coll...,NaN,NaN,NaT,Constituent Services,Government,6

Extract and Transform data within employment table

In [ ]:
# load employment data

drive.mount('/content/drive')
employment_data = pd.read_csv('/content/drive/My Drive/APAN5400 Group Project/employment_data_nychist.csv')
# employment_data = pd.read_csv('/Users/vivian/Desktop/5400 group project/employment_data_nychist.csv')

# turn all column names into lower cases
employment_data.columns = employment_data.columns.str.lower()

# only keep the first 17 columns we need
employment_data = employment_data.iloc[:, 1:17]

# use pd.melt() to transform the DataFrame from wide to long format
employment_data_long = pd.melt(
    employment_data,
    id_vars=['year', 'seriescode', 'areaname', 'industry_title'],
    var_name='month',
    value_name='number_of_worker'
)

# define a mapping for month names to numerical representations
month_mapping = {
    'jan': int(1), 'feb': int(2), 'mar': int(3), 'apr': int(4), 'may': int(5), 'jun': int(6),
    'jul': int(7), 'aug': int(8), 'sep': int(9), 'oct': int(10), 'nov': int(11), 'dec': int(12)
}

# map the month names to numerical representations
employment_data_long['month'] = employment_data_long['month'].map(month_mapping)

# merge the employment data with industry_category_table to add industry_category_id
employment_data_long = employment_data_long.merge(industry_category_table, on='industry_title')

# drop na values
employment_data_long = employment_data_long.dropna()

# sort the data by 'year' and 'month'
employment_data_long = employment_data_long.sort_values(by=['year', 'month'], ascending=[False, True])
employment_data_long

# save the employment_data_long into a csv file
# employment_data_long.to_csv('employment.csv', index=False)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,year,seriescode,areaname,industry_title,month,number_of_worker,industry_category,industry_category_id
0,2023,50000000,New York City,Information,1,223.3,Data & Innovation,3
408,2023,55520000,New York City,Finance and Insurance,1,359.0,Finance & Accounting,4
816,2023,60541100,New York City,Legal Services,1,83.0,Legal,5
1224,2023,60541300,New York City,"Architectural, Engineering, and Related Services",1,36.4,Architecture,9
1632,2023,60541500,New York City,Computer Systems Design and Related Services,1,81.9,Engineering,8
...,...,...,...,...,...,...,...,...
3263,1990,60561300,New York City,Employment Services,12,41.5,Human Resources,2
3899,1990,65624000,New York City,Social Assistance,12,103.6,Social Services,11
4307,1990,70710000,New York City,"Arts, Entertainment, and Recreation",12,44.5,Entertainment,12
4715,1990,90000000,New York City,Government,12,605.0,Constituent Services,6
5123,1990,90936111,New York City,Local Government Elementary and Secondary Educ...,12,142.9,Education,13

In [ ]:
# Extract columbia enrollment data

drive.mount('/content/drive')
enrollment_data = pd.read_csv('/content/drive/My Drive/APAN5400 Group Project/columbia_enrollment.csv')
enrollment_data.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,program_id,program_name,enrollment,malestudent,percentmale,femalestudent,percentfemale,industry_category_id
0,1,"Management Sciences and Quantitative Methods, ...",1402,625,0.45,777,0.55,1
1,2,Computer Science,500,159,0.32,341,0.68,8
2,3,"Computer and Information Sciences, General",489,317,0.65,172,0.35,8
3,4,Social Work,487,430,0.88,57,0.12,11
4,5,"Statistics, General",478,265,0.55,213,0.45,4

Load Data to Database

In [ ]:
# Insert industry_category_data into the table

# convert the industry_category_table to a list of tuples for insertion
industry_category_data_to_insert = [tuple(row) for row in industry_category_table.values]

# write the SQL query
columns = ', '.join(industry_category_table.columns)
values_template = ', '.join(['%s'] * len(industry_category_table.columns))
sql_query = f"INSERT INTO industry_category_data ({columns}) VALUES ({values_template})"

# execute the SQL query with the data
cur.executemany(sql_query, industry_category_data_to_insert)

# commit the changes
conn.commit()

In [ ]:
# Insert nyc_job_posting data into the table

# convert the job_posting to a list of tuples for insertion
job_posting_to_insert = [tuple(row) for row in job_posting.values]

# write the SQL query
columns = ', '.join(job_posting.columns)
values_template = ', '.join(['%s'] * len(job_posting.columns))
sql_query = f"INSERT INTO nyc_job_posting ({columns}) VALUES ({values_template})"

# Execute the SQL query with the data
cur.executemany(sql_query, job_posting_to_insert)

# Commit the changes
conn.commit()

In [ ]:
# Insert employment_data into the table

# convert the employment_data_long to a list of tuples for insertion
employment_data_to_insert = [tuple(row) for row in employment_data_long.values]

# write the SQL query
columns = ', '.join(employment_data_long.columns)
values_template = ', '.join(['%s'] * len(employment_data_long.columns))
sql_query = f"INSERT INTO employment_data ({columns}) VALUES ({values_template})"

# execute the SQL query with the data
cur.executemany(sql_query, employment_data_to_insert)

# commit the changes
conn.commit()

In [ ]:
# Load enrollment data
from sqlalchemy import create_engine
conn_str = f'postgresql://{"postgres"}:{"postgres"}@{"apan5400db.cv57tdjwt2lt.us-east-1.rds.amazonaws.com"}:{"5432"}/{"postgres"}'
engine = create_engine(conn_str)
table_name = "columbia_enrollment"
enrollment_data.to_sql(table_name, engine, if_exists = 'append', index=False)

In [ ]:
cur.close()
conn.close()

# STEP 5: Implement Chat Bot UI (Interface for Interacting with the Application)

In [ ]:
drive.mount('/content/drive')
chat_bot_files_location = '/content/drive/My Drive/APAN5400 Group Project/'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
def chatbot_response(msg):

    engine = create_engine(conn_str)
    db = SQLDatabase(engine)
    # Instantiate the ChatOpenAI model
    llm = ChatOpenAI(model_name="gpt-3.5-turbo")

    # Initialize the SQLDatabaseToolkit with the SQLAlchemy engine
    toolkit = SQLDatabaseToolkit(db=db, llm=llm)

    # Create the agent executor with the SQL toolkit and ChatOpenAI model
    agent_executor = create_sql_agent(
        llm=llm,
        toolkit=toolkit,
        verbose=True
    )

    res = agent_executor.run(f"{msg}")
    with output_widget:
        print(f"Function available for response are {res}")
        print("This is the response")
        print(res)
    return res


app = Flask(__name__, template_folder = chat_bot_files_location)
run_with_ngrok(app)
app.template_folder = 'templates'
app.static_folder = 'templates'

os.environ['OPENAI_API_KEY'] = "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"
db_user = "postgres"
db_password = "postgres"
db_host = "apan5400db.cv57tdjwt2lt.us-east-1.rds.amazonaws.com"
db_name = "postgres"
conn_str = f"postgresql+psycopg2://{db_user}:{db_password}@{db_host}/{db_name}"

@app.route("/")
def home():
    url = 'https://raw.githubusercontent.com/srivastavbudugutta/career_consultation_chatbot/main/templates/index.html'
    response = requests.get(url)
    return Response(response.text, content_type='text/html')

@app.route("/get")
def get_bot_response():
    userText = request.args.get('msg')
    logging.info(f"User request {userText}")
    return chatbot_response(userText)


app.run()

NameError: ignored